/* RESET */
@import "reset.css"; /* Using a string */

/*  FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* General */
.hidden {
    display: none;
}

.error {
    color: #dc143c;
}



/* BTNS*/
.btn, .btn:visited, .btn:hover, .btn:active {
    padding: 5px 25px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.btn1, .btn1:visited, .btn1:hover, .btn1:active {
    background: #412F00;
    color: #FFF;
}


.btn2, .btn2:visited, .btn2:hover, .btn2:active {
    background: #FFF;
    color: #412F00;
}

/* TITLES */

h1 {
    color: #fdba33;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin: 25px;
}
h2 {
    font-weight: 600;
    font-size: 36px;
    font-family: 'Poppins';
    color: #412F00;    
}

h3 {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Poppins';
    color: #412F00; 
    text-align: center;
    margin-bottom: 15px;
}

#slogan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #7A7A7A;
}

/* Loading */
.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.loading-wrapper .loading {
    height: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* index */
#main-content {
    min-height: 100vh;
    overflow: hidden;
    
}

.content-wrapper {
    height: 100%!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-spacing {
    position: relative;
    height: 70px;
    margin-bottom: 10px;
}

#top-elipse {
    height: 195px;
    width: 195px;
    position: absolute;
    left: -44px;
    top: -119px;
    background: #fdba33;
    border-radius: 50%;
}

#footer-spacing {
    position: relative;
    height: 120px;
    
}

#bottom-elipse {
    height: 195px;
    width: 195px;
    position: absolute;
    left: -119px;
    bottom: -159px;
    background: #fdba33;
    border-radius: 50%;
}


#login-box {
    background: #fdba33;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    padding: 25px 10%;
}

#login-box p, #main-header p {
    font-family: 'Roboto';
    font-weight: 300;
    color: #634F1B;
    font-size: 18px;
    line-height: 18px;
    margin: 25px 0px;
}

#login-box-cta {
    display: flex;
    justify-content: space-between;
}


/*Basic Form*/
.basic-form input:not([type="submit"]){
    border-radius: 40px;
    border: 1px solid #d7e2e6;
    padding: 15px;
    margin: 25px 0;
    box-shadow: 1px 8px 27px -20px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: 1px 8px 27px -20px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: 1px 8px 27px -20px rgba(0,0,0,0.75) inset;
    font-family: 'Roboto';
    
}

::-webkit-input-placeholder { /* Edge */
    color: #A3A3A3
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A3A3A3
  }
  
  ::placeholder {
    color: #A3A3A3;
  }



/* Main content*/

#main-header h3 {
    margin-top: 20px;
}

.background-yellow {
    background: #fdba33;
}

#content-body{
    background: #FFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 10%;
    margin-top: 25px;
    flex-grow: 1;
    
}


#grid-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 80px;
    text-align: center;
}

.grid-item .grid-img-box {
    width: 70px;
    height: 70px;   
}

.grid-img img{
    height: 70px;
    width: 70px;

}

.grid-item .grid-item-name {
    width: 70px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    color: #412F00; 
    text-decoration: none;
}


#btn-main-cta {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
    display: block;
    position: relative;
}

#btn-main-cta::after{
    content: "→";
    font-size: 25px;
    position: absolute;
    right: 8px;
    top: -8px;
    bottom: 0;

}

#item-detail p, li {
    font-size: 18px;
    font-family: 'Roboto';
    color: #412F00;
}

#item-descricao {
    margin-bottom: 15px;
    margin-top: 15px;
}

#item-harmonizacao {
    margin-top: 15px;
}

#item-detail ul {
    list-style: circle; 
}

#item-detail ul li{
    margin-bottom: 10px;
}


/* EFFECTS */
.skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;    
}
.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0) );
    animation: shimmer 2s infinite;
    content: '';
}
  
@keyframes shimmer {
    100% {
    transform: translateX(100%);
    }


}


h3.skeleton-box, p.skeleton-box, li.skeleton-box {
    width: 100%;
}

h3.skeleton-box, li.skeleton-box {
    height: 50px;
}

p.skeleton-box {
    height: 120px;
}
