/* RESET */
@import "reset.css"; /* Using a string */

/*  FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


/* General */
.hidden {
    display: none;
}

.error {
    color: #dc143c;
}



/* BTNS*/
.btn, .btn:visited, .btn:hover, .btn:active {
    padding: 5px 25px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.btn1, .btn1:visited, .btn1:hover, .btn1:active {
    background: #412F00;
    color: #FFF;
}


.btn2, .btn2:visited, .btn2:hover, .btn2:active {
    background: #FFF;
    color: #412F00;
}

/* TITLES */

h1 {
    color: #fdba33;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin: 25px;
}
h2 {
    font-weight: 600;
    font-size: 36px;
    font-family: 'Poppins';
    color: #412F00;    
}

h3 {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Poppins';
    color: #412F00; 
    text-align: center;
    margin-bottom: 15px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins';
    color: #412F00; 
}

a.h5 {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Poppins';
    color: #b9851b;
    margin-top: 10px;
    display: block; 
    
}



#slogan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #7A7A7A;
}

#toggle-menu {
    font-size: 38px;
    margin: 10px 0;
    color: #FFF
}

#toggle-menu.open {
    color: #ad7c1f;
}

#menu-wrapper {
    position: absolute;
    left: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

#menu-wrapper.open {
    transform: translateX(100%);
}


#menu ul {
    background: #ad7c1a;
    height: 100vh;
    width: 80vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu ul li {
    padding: 10px;
    border-top: 1px solid #d2a550;
    border-bottom: 1px solid #6b511f;
}

#menu ul li:first-child {
    border-top: none;
}
#menu ul li:last-child {
    border-bottom: none;
}


#menu ul li a {
    color: #FFF;
    font-family: 'Poppins';
}


/* Loading */
.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.loading-wrapper .loading {
    height: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* index */
#main-content {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.content-wrapper {
    height: 100%!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-spacing {
    position: relative;
    height: 70px;
    margin-bottom: 10px;
}

#top-elipse {
    height: 195px;
    width: 195px;
    position: absolute;
    left: -44px;
    top: -119px;
    background: #fdba33;
    border-radius: 50%;
}

#footer-spacing {
    position: relative;
    height: 120px;
    
}

#bottom-elipse {
    height: 195px;
    width: 195px;
    position: absolute;
    left: -119px;
    bottom: -159px;
    background: #fdba33;
    border-radius: 50%;
}

#favorito {
    text-decoration: none;
    color: #CCC;
}

#favorito.checked {
    text-decoration: none;
    color: #fdba33;
}

#login-box {
    background: #fdba33;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    padding: 25px 10%;
}

#login-box p, #main-header p {
    font-family: 'Roboto';
    font-weight: 300;
    color: #634F1B;
    font-size: 18px;
    line-height: 18px;
    margin: 25px 0px;
}

#login-box-cta {
    display: flex;
    justify-content: space-between;
}


/*Basic Form*/
.basic-form input:not([type="submit"]){
    border-radius: 40px;
    border: 1px solid #d7e2e6;
    padding: 15px;
    margin: 25px 0;
    box-shadow: 1px 8px 27px -20px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: 1px 8px 27px -20px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: 1px 8px 27px -20px rgba(0,0,0,0.75) inset;
    font-family: 'Roboto';
    
}

::-webkit-input-placeholder { /* Edge */
    color: #A3A3A3
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A3A3A3
  }
  
  ::placeholder {
    color: #A3A3A3;
  }
/*HEADER*/
#search-col {
    display: flex;
    justify-content: center;
    align-content: unset;
    align-items: center;
}
#search-col form {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

#search-input {
    background: #efd79d;
    box-shadow: none;
    border: none;
    color: #9e731c;
    border-bottom: 2px solid #9e731c;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

#search-submit {
    background: #9e731c;
    box-shadow: none;
    border: none;
    color: #efd79d;
    border: 2px solid #9e731c;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

#search-result {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 9999;
    padding: 30px;
}

#search-result-wrapper{
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 999;
    
}

#search-result-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 9998;
    width: 100%;
    height: 100%;
    padding: 30px;
}

#search-result-close {
    padding: 30px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-result-close-button {
    font-size: 30px;
}

.search-item img {
    max-height: 50px;
    max-width: 100%;
}


.search-item {
    padding: 25px 0;
    border-top: 1px solid #b9851b;
    border-bottom: 1px solid #fdba33;
}


.search-item:last-child{
    border-bottom: none;
}


.search-item:first-child{
    border-top: none;
}
/* Main content*/

#main-header h3 {
    margin-top: 20px;
    text-align: left;
}

.background-yellow {
    background: #fdba33;
}

#content-body{
    background: #FFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 10%;
    margin-top: 25px;
    flex-grow: 1;
    
}


#grid-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 80px;
    text-align: center;
}

.grid-item .grid-img-box {
    width: 70px;
    height: 70px;   
}

.grid-img img{
    height: 70px;
}

#item-detail #item-img img{
    max-height: 200px;

}

.grid-item .grid-item-name {
    width: 70px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    color: #412F00; 
    text-decoration: none;
}


#btn-main-cta {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
    display: block;
    position: relative;
}

#btn-main-cta::after{
    content: "→";
    font-size: 25px;
    position: absolute;
    right: 8px;
    top: -8px;
    bottom: 0;

}

#item-detail p, li {
    font-size: 18px;
    font-family: 'Roboto';
    color: #412F00;
}

#item-descricao {
    margin-bottom: 15px;
    margin-top: 15px;
}


#item-harmonizacao {
    margin-top: 15px;
}

#item-detail ul {
    list-style: circle; 
}

#item-detail ul li{
    margin-bottom: 10px;
}


/* PERFIL */


.favorite_section {
    margin: 10px 0 ;
}

.favorite_section img {
    max-width: 100%;
}

.favorite_section .favorite_item {
    padding: 25px 0;
    border-bottom: 1px solid #fdba33;
}


.favorite_section .favorite_item:last-child{
    border-bottom: none;
}




#section_cervejas h3, #section_comidas h3 {
    margin: 0px;
        border-bottom: 3px dashed #9e7307;
    padding: 30px 0;
    
}


/* EFFECTS */
.skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;    
}
.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0) );
    animation: shimmer 2s infinite;
    content: '';
}
  
@keyframes shimmer {
    100% {
    transform: translateX(100%);
    }


}


h3.skeleton-box, p.skeleton-box, li.skeleton-box {
    width: 100%;
}

h3.skeleton-box, li.skeleton-box {
    height: 50px;
}

p.skeleton-box {
    height: 120px;
}
